/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/_styles/components.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.components_button__XMpMh {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  background: linear-gradient(to bottom right, var(--color-secondary), var(--color-tertiary));
  border-radius: 5px;
  padding: 0.5rem 5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bolder;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.2s;
  cursor: pointer; /* Ensure pointer behavior on hover */
  text-decoration: none; /* Remove underline from links */
}
.components_button__XMpMh:hover {
  background-color: var(--color-details);
  text-shadow: 0px 0px 10px black;
}

.components_socials__CMCy9 {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1;
}
.components_socials__CMCy9 > a {
  transition: all .2s;
}
.components_socials__CMCy9 > a:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, .075);
  border-radius: 10px;
}

.components_headbar__zzYrT {
  display: flex;
  padding: 1rem 6rem;
  justify-content: space-between;
  align-items: center;
}
.components_headbar__nav__3o828 > a {
  color: var(--color-details);
  font-size: 2.6rem;
  text-decoration: none;
}
.components_headbar__nav__3o828 > a:hover,
.components_headbar__nav__3o828 > a:focus {
  text-decoration: underline;
  font-weight: bold;
}
.components_headbar__nav__3o828 {
  display: flex;
  gap: 4rem;
}

.components_websiteName__FRTEZ {
  font-size: 4rem;
  line-height: 4.2rem;
  color: var(--color-text);
}
.components_websiteName__FRTEZ > span {
  color: var(--color-secondary) !important;
}

.components_localeSwitcher__kr9mU {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  border: 2px solid var(--color-tertiary);
  border-radius: 5px;
}
.components_localeSwitcher__kr9mU:hover {
  cursor: pointer;
  color: var(--color-details);
}

.components_toursList__FOj_R {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  text-decoration: none !important;
}
.components_toursList__card__JQB0R {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 30rem;
  transition: all .3s;
}
.components_toursList__card__JQB0R:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .075);
  transform: scale(1.05);
}
.components_toursList__card__img__nK_o2 {
  height: 20rem;
  width: 20rem;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.components_toursList__card__JQB0R > h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--color-text);
}
.components_toursList__card__JQB0R > a {
  font-size: 1.8rem;
}

.components_aboutus__egvqc {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  line-height: 1.1;
  margin-top: 2rem;
}
.components_aboutus__egvqc > h1 {
  font-size: 4.6rem;
  letter-spacing: 1px;}
.components_aboutus__egvqc > p {
  font-size: 2rem;
}
.components_aboutus__egvqc > div {
  padding-top: 1.5rem;
  margin: 0 auto;
}

.components_footer__kYfHj {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  width: 100vw;
  margin-left: calc(-1 * var(--page-padding-inline));
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.components_footer__kYfHj > * > a,
.components_footer__kYfHj > a {
  text-decoration: underline;
  font-size: 2rem;
  color: var(--color-primary);
}
.components_footer__kYfHj > a:hover {
  color: var(--color-details);
}


@media (max-width: 650px) {
  .components_headbar__zzYrT {
    padding-inline: .1rem;
  }
  .components_headbar__nav__3o828 {
    gap: 1rem;
  }
  .components_headbar__nav__3o828 > a {
    font-size: 2.4rem;
  }
  
  .components_websiteName__FRTEZ {
    font-size: 2.4rem;
    line-height: 2.5rem;
    max-width: 6em;
  }

  .components_socials__CMCy9 {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    row-gap: 0;
  }
  .components_socials__CMCy9 > p {
    width: 100%;
  }
  .components_socials__CMCy9 > a > img {
    max-width: 25vw;
  }

  .components_toursList__FOj_R {
    grid-gap: 0rem;
    gap: 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .components_toursList__card__JQB0R {
    width: 40vw;
    height: max-content;
    align-self: baseline;
  }
  .components_toursList__card__img__nK_o2 {
    width: 35vw;
    height: 35vw;
  }
  .components_toursList__card__JQB0R > a {
    white-space: nowrap;
    max-width: 100%;
    padding: .5rem 1rem;
  }

}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/_styles/pages.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.pages_home__v471c {
}

.pages_home__header__QytuB {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  gap: 1rem;
  padding-block: 3rem;
  justify-content: space-between;
}
.pages_home__header__logo__Tjqtb {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.pages_home__header__logo__Tjqtb > img {
  width: 42rem;
  height: auto;
  margin-left: 4rem;
}
.pages_home__header__logo__Tjqtb > h2 {
  font-size: 2.4rem;
  font-style: italic;
}
.pages_home__header__socials__Fp_U4 {
  grid-column: 1;
  grid-row: 2;
}
.pages_home__header__images__lzLWZ {
  grid-column: 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.pages_home__header__images__lzLWZ > img {
  width: 100%;
  max-width: 28rem;
  border-radius: 10px;
}
.pages_home__header__images__lzLWZ > img:nth-child(2) {
  grid-row: 1 / 3;
  grid-column: 2;
}

.pages_home__tours__nV_21 {

}
.pages_home__tours__nV_21 > h1 {
  font-size: 4.6rem;
  letter-spacing: 1px;
}


.pages_tour__wZD57 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}
.pages_tour__wZD57 > h1 {
  font-size: 3.2rem;
}
.pages_tour__wZD57 > p {
  font-size: 1.85rem;
  line-height: 1.5;
}
.pages_tour__wZD57 > a {
  margin: 0 auto;
}
.pages_tour__list__t1Zdf {
  padding: 1rem 0;
  margin-top: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
}
.pages_tour__list__t1Zdf h2 {
  font-size: 2.8rem;
  font-weight: bold;
  padding-left: 1rem;
}
.pages_tour__list__t1Zdf ul {
  list-style: none; /* remove default bullet points */
  padding-left: 2rem; /* adjust padding */
  margin-bottom: 1.5rem; /* add spacing between lists */
}
.pages_tour__list__t1Zdf ul li {
  position: relative; /* to position custom bullet */
  padding-left: 1.5rem; /* space between bullet and text */
  font-size: 1.8rem; /* slightly larger font */
  line-height: 1.5; /* improve readability */
}
.pages_tour__list__t1Zdf ul li::before {
  content: "â–"; /* replace with a fancy bullet symbol */
  position: absolute;
  left: -5px;
  font-size: 1.8rem;
  color: var(--color-secondary);
  font-weight: bold;
}
.pages_tour__list__t1Zdf ul li:hover {
  color: #2980b9; /* subtle color change on hover */
}


@media (max-width: 1000px) {
  .pages_home__header__QytuB {
    grid-template-columns: 1fr 1fr;}
  .pages_home__header__logo__Tjqtb > img {
    margin: 0;
    width: 30vw;
  }
  .pages_home__header__images__lzLWZ {
    grid-row: 1;
  }
  .pages_home__header__socials__Fp_U4 {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .pages_tourpage__f7_EJ {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .pages_tourpage__f7_EJ > .pages_home__header__images__lzLWZ {
    grid-row: 2;
    grid-column: 1;
    max-width: 100vw;
  }
  .pages_tourpage__f7_EJ > .pages_home__header__images__lzLWZ > img {
    max-width: 90%;
    width: auto;
    height: auto;
  }
  .pages_tour__wZD57 {
    gap: .1rem;
  }
  .pages_tour__list__t1Zdf {
    margin-top: .1rem;
  }
  .pages_tour__list__t1Zdf ul {
    margin-bottom: .1rem;
  }
}
@media (max-width: 650px) {
  .pages_home__header__QytuB {
    grid-template-columns: 1fr;
  }
  .pages_home__header__logo__Tjqtb {
    place-items: center;
    display: flex;
    flex-direction: row;
  }
  .pages_home__header__logo__Tjqtb > img {
  }
  .pages_home__header__images__lzLWZ {
    grid-row: 3;
    grid-column: 1;
    grid-gap: .25rem;
    gap: .25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
  }
  .pages_home__header__images__lzLWZ > img {
    grid-row: 1 !important;
  }

  .pages_tourpage__f7_EJ > .pages_home__header__images__lzLWZ {
    grid-template-columns: 1fr 1fr;
  }
  .pages_tourpage__f7_EJ > .pages_home__header__images__lzLWZ > img:nth-child(3) {
    display: none;
  }

  .pages_tour__wZD57 {
    width: 100%;
  }
  .pages_tourpage__bookBtns__rw3Cq {
    width: 100%;
    margin: 0 auto;
    line-height: 3;
  }
  .pages_tourpage__bookBtns__rw3Cq > a {
    padding-inline: 2rem;
    font-size: 1.85rem;
  }
}
