.home {
}

.home__header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding-block: 3rem;
  justify-content: space-between;
}
.home__header__logo {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.home__header__logo > img {
  width: 42rem;
  height: auto;
  margin-left: 4rem;
}
.home__header__logo > h2 {
  font-size: 2.4rem;
  font-style: italic;
}
.home__header__socials {
  grid-column: 1;
  grid-row: 2;
}
.home__header__images {
  grid-column: 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.home__header__images > img {
  width: 100%;
  max-width: 28rem;
  height: auto;
  border-radius: 10px;
}
.home__header__images > img:nth-child(2) {
  grid-row: 1 / 3;
  grid-column: 2;
}

.home__tours {

}
.home__tours > h1 {
  font-size: 4.6rem;
  letter-spacing: 1px;
}


.tour {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}
.tour > h1 {
  font-size: 3.2rem;
}
.tour > p {
  font-size: 1.85rem;
  line-height: 1.5;
}
.tour > a {
  margin: 0 auto;
}
.tour__list {
  padding: 1rem 0;
  margin-top: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
}
.tour__list h2 {
  font-size: 2.8rem;
  font-weight: bold;
  padding-left: 1rem;
}
.tour__list ul {
  list-style: none; /* remove default bullet points */
  padding-left: 2rem; /* adjust padding */
  margin-bottom: 1.5rem; /* add spacing between lists */
}
.tour__list ul li {
  position: relative; /* to position custom bullet */
  padding-left: 1.5rem; /* space between bullet and text */
  font-size: 1.8rem; /* slightly larger font */
  line-height: 1.5; /* improve readability */
}
.tour__list ul li::before {
  content: "â–"; /* replace with a fancy bullet symbol */
  position: absolute;
  left: -5px;
  font-size: 1.8rem;
  color: var(--color-secondary);
  font-weight: bold;
}
.tour__list ul li:hover {
  color: #2980b9; /* subtle color change on hover */
}


@media (max-width: 1000px) {
  .home__header {
    grid-template-columns: 1fr 1fr;}
  .home__header__logo > img {
    margin: 0;
    width: 30vw;
  }
  .home__header__images {
    grid-row: 1;
  }
  .home__header__socials {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .tourpage {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .tourpage > .home__header__images {
    grid-row: 2;
    grid-column: 1;
    max-width: 100vw;
  }
  .tourpage > .home__header__images > img {
    max-width: 90%;
    width: auto;
    height: auto;
  }
  .tour {
    gap: .1rem;
  }
  .tour__list {
    margin-top: .1rem;
  }
  .tour__list ul {
    margin-bottom: .1rem;
  }
}
@media (max-width: 650px) {
  .home__header {
    grid-template-columns: 1fr;
  }
  .home__header__logo {
    place-items: center;
    display: flex;
    flex-direction: row;
  }
  .home__header__logo > img {
  }
  .home__header__images {
    grid-row: 3;
    grid-column: 1;
    gap: .25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
  }
  .home__header__images > img {
    grid-row: 1 !important;
  }

  .tourpage > .home__header__images {
    grid-template-columns: 1fr 1fr;
  }
  .tourpage > .home__header__images > img:nth-child(3) {
    display: none;
  }

  .tour {
    width: 100%;
  }
  .tourpage__bookBtns {
    width: 100%;
    margin: 0 auto;
    line-height: 3;
  }
  .tourpage__bookBtns > a {
    padding-inline: 2rem;
    font-size: 1.85rem;
  }
}